In [1]:
import pandas as pd
import concurrent.futures
import threading
from yaml import load, FullLoader
import codecs
import os
from sqlalchemy import engine, create_engine
from datetime import datetime, timedelta
#import pandas as pd
import polars as pl
from openpyxl import Workbook
from openpyxl import worksheet
from datetime import datetime, timedelta
from openpyxl.styles import PatternFill, Border, Side, Alignment, Protection, Font
from openpyxl.styles import NamedStyle, Side
from icecream import ic

from lista_queries import *
from utilities import *
from formatos import *
from logins import *
from logins_tv import *
from novos_users_ac import *
from pandas.core.indexes.datetimes import date_range

In [2]:
with codecs.open(str(os.getenv("CONFS"))+"conf_dba\\configuracao.yaml", "r", "utf-8") as fich:
    config = load(fich, Loader=FullLoader)
    string_conf = config['con_str_0']
bd: str ='BD_ECARE'
engine: engine = create_engine(f'mssql+pyodbc:///?odbc_connect={ string_conf };DATABASE='+bd)
dados: dict[str, pl.DataFrame]={}
def download_site(query: list[str,str])->None:
    global engine, dados
    ic(query)
    dados[query[0]] = pl.read_database(query[1], engine)
def download_all_sites(lista_queries: list[list[str,str]])->None:
    with concurrent.futures.ThreadPoolExecutor(max_workers=7) as executor:
        executor.map(download_site, lista_queries)

In [3]:
download_all_sites(lista_queries_a_fazer)

icicicicicic|ic||||||      queryqueryqueryqueryquery query:::query::: :      [[[[[['''['''logins_daynew_users_week'users_ac_weekusers_ac_daynew_users_monthnew_users_day''users_ac_month'''',,,,,',    , ' ' ''SELECT * FROM dbo.vw_Logins_Day_LYTM''SELECT * FROM dbo.vw_New_Users_ACC_Week_LYTM'SELECT * FROM dbo.vw_IND_Users_AC_Day_LYTM'SELECT * FROM dbo.vw_New_Users_ACC_Month_LYTMSELECT * FROM dbo.vw_IND_Users_AC_Week_LYTMSELECT * FROM dbo.vw_New_Users_ACC_Day_LYTM'SELECT * FROM dbo.vw_IND_Users_AC_Month_LYTM'''']']]]]
]





icic|| query:  [query'logins_week':, ' SELECT * FROM dbo.vw_Logins_Week_LYTM[']
logins_month', 'SELECT * FROM dbo.vw_Logins_Month_LYTM']
ic| query: ['logins_day_tv', 'SELECT * FROM dbo.vw_LOGINS_TV_Day_LYTM']
icic||  queryquery::  [['logins_month_tv'logins_week_tv'',,  ''SELECT * FROM dbo.vw_LOGINS_TV_Month_LYTMSELECT * FROM dbo.vw_LOGINS_TV_Week_LYTM'']]

In [12]:
for i, row in enumerate(dados['new_users_week'].sort(by=["Year", "Week"]).tail(5).iter_rows()):
    print(i, row[0], row)

0 2025 (2025, 1, 4073)
1 2025 (2025, 2, 7526)
2 2025 (2025, 3, 6925)
3 2025 (2025, 4, 6563)
4 2025 (2025, 5, 9620)

In [5]:
dados["users_ac_week"].tail(5)

shape: (5, 12)
┌──────┬──────┬───────────┬─────────────┬───┬───────────┬──────────────────┬─────────────────────┬─────────────────────┐
│ Year ┆ Week ┆ ACC_Total ┆ ACC_Consumo ┆ … ┆ ACE_Total ┆ ACE_Empresariais ┆ ACE_Altice_Empresas ┆ Altice_Empresas_Tot │
│ ---  ┆ ---  ┆ ---       ┆ ---         ┆   ┆ ---       ┆ ---              ┆ ---                 ┆ al                  │
│ i64  ┆ i64  ┆ i64       ┆ i64         ┆   ┆ i64       ┆ i64              ┆ i64                 ┆ ---                 │
│      ┆      ┆           ┆             ┆   ┆           ┆                  ┆                     ┆ i64                 │
╞══════╪══════╪═══════════╪═════════════╪═══╪═══════════╪══════════════════╪═════════════════════╪═════════════════════╡
│ 2025 ┆ 1    ┆ 1825      ┆ 1599        ┆ … ┆ 79        ┆ 55               ┆ 24                  ┆ 156                 │
│ 2025 ┆ 2    ┆ 2398      ┆ 2946        ┆ … ┆ 112       ┆ 106              ┆ 6                   ┆ 157                 │
│ 2025 ┆ 3    ┆ -841      ┆ -637        ┆ … ┆ 157       ┆ 130              ┆ 27                  ┆ 151                 │
│ 2025 ┆ 4    ┆ 486       ┆ 838         ┆ … ┆ 165       ┆ 139              ┆ 26                  ┆ 168                 │
│ 2025 ┆ 5    ┆ 2052      ┆ 2182        ┆ … ┆ 193       ┆ 162              ┆ 31                  ┆ 152                 │
└──────┴──────┴───────────┴─────────────┴───┴───────────┴──────────────────┴─────────────────────┴─────────────────────┘

In [9]:
dados['new_users_week']

shape: (58, 3)
┌──────┬──────┬───────────┐
│ Year ┆ Week ┆ New_Users │
│ ---  ┆ ---  ┆ ---       │
│ i64  ┆ i64  ┆ i64       │
╞══════╪══════╪═══════════╡
│ 2024 ┆ 8    ┆ 9496      │
│ 2024 ┆ 15   ┆ 7127      │
│ 2024 ┆ 22   ┆ 7285      │
│ 2024 ┆ 33   ┆ 10142     │
│ 2024 ┆ 40   ┆ 7637      │
│ …    ┆ …    ┆ …         │
│ 2024 ┆ 39   ┆ 9482      │
│ 2024 ┆ 41   ┆ 9080      │
│ 2024 ┆ 48   ┆ 9695      │
│ 2024 ┆ 50   ┆ 10118     │
│ 2025 ┆ 5    ┆ 9620      │
└──────┴──────┴───────────┘